* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
	margin-bottom: 0px !important;
}
body {
  background-image: url(./asset/backgroundpic.png);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem;
}
.card-container {
  background-color: #ccd1d5;
}
.card-header {
  background-color: #f2f3f5;
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  padding: 8px !important;
}
.card-text-general {
  font-size: 18px;
  margin: 0;
}
.midAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
